.home-display {
  position: fixed;
  top: 50%;
  left: 25%;
  margin-top: -50px;
  margin-left: -100px;
}


/* Below animation code taken from: https://alvarotrigo.com/blog/css-text-animations/ */
.home-display h1 {
  max-width: 40ch;
  text-align: center;
  font-size: 500%;
  color: antiquewhite;
  transform: scale(0.94);
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}
@keyframes scale {
  100% {
    transform: scale(1);
  }
}

#animated {
  display: inline-block;
  opacity: 0;
  filter: blur(4px);
}

#animated:nth-child(1) {
  animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

#animated:nth-child(2) {
  animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

#animated:nth-child(3) {
  animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}


@media screen and (max-width: 600px){
  .home-display h1 {
    max-width: 20ch;
    text-align: center;
    font-size: 300%;
  }
}
