div {
     margin:auto;
     /* width:50%; */
    /* top: 50%; */
}

#home-h1 {
    /* color: ; */
    text-align: center;
    /* height: 200px; */
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
}