.location-card-div {
    display: grid;
    /* grid-template-columns: repeat(3,1fr); */
    color: black;
    background-color: white;
}

.location-card-ul {
display: grid;
grid-row: 3/4;
/* background-color: yellow; */

    /* grid-template-columns: repeat(3,1fr); */
}



.location-card-li {
    display: grid;
    /* grid-column: auto; */
}