.locationCard {
    display:block;
    color:black;
    font-style: normal;
    font-weight: bold;
    margin-top:1em;
    font-size: large;
    background-color: lightyellow;
   
}

ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    text-align: center;
    position: relative;
    background-color: lightyellow;
}

h1 {
    text-align: center;
    font-size: xx-large;
}
