.movies{
  text-align: center;
  background-color: rgba(180,221,250,.7);
  margin: 25px 200px;
  padding: 5px;
  border-radius: 30px;
  box-shadow: 5px 10px;
  }

  .movies form{
    margin-bottom: 15px;
  }