.nav {
    display: flex;
    position: sticky;
   width: 100%;
   background: rgb(45, 106, 120);
   top: 0;
    height: 150px;
    align-items: center;
    font-size: 20px;
    justify-content: space-evenly;
    padding: 1em;
    

  }
  .home {
    width: 100%;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
    box-shadow: 2px 2px 4px darkgrey;
    align-items: center;
    flex-wrap: wrap;
    
  }

  .logo {
    height: 50px;
    width: 50px;
    display: block;
    cursor: pointer;
    color: transparent;
    left: 10px;
   
  }
  .nav__element {
    color:bisque;
    text-decoration: none;
    text-shadow: 2px 2px #3e1f1f;

  }
  
 
