/* div {
    display: grid;
    grid-template-columns: repeat(4,1fr);
} */
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 50%; */
}

nav {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  /* grid-column: 2/3; */
  list-style-type: none;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
  background-color: #333;
}

nav a {  
  display: grid;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  
}

nav a:hover {
  background-color: #111;
}
