nav {
  display: grid;
  flex-direction: row;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 1%;
  background-color: antiquewhite;
  /* opacity: 0.5; */
  /* border: solid black; */
}

.App-logo {
  padding: 0;
  margin: 0;
  height: 70px;
  width: auto;
}

/* nav h2 { */
    /* color: #FF00FF; */
/* } */