nav {
  text-align: center;
  display: grid;
  flex-direction: row;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 1%;
  background-color: antiquewhite;
}

.App-logo img{
  padding: 0;
  margin: 0;
  height: 70px;
  width: auto;
}

@media screen and (max-width: 620px){
  /* NavBar Components */
  nav {
    display: grid;
    width: auto;
    grid-template-rows: repeat(4, 0.5fr);
    grid-template-columns: 1fr;
    grid-template-areas:
      "logo"
      "movies"
      "people"
      "locations";
  }

  nav .App-logo {
    grid-area: logo;
    border: solid black;
    width: 100%;
  }

  nav .Movies {
    grid-area: movies;
  }

  nav .People {
    grid-area: people;
  }

  nav .Locations {
    grid-area: locations;
  }

}

