.attributes {
    font-size: larger;
    text-align: center;
}

h1 {
text-align: left;
}

button {
    background-color:whitesmoke;
    font-family: sans-serif;
    margin-top: 2px; 
    margin:auto;
    display:flex;
    justify-content: center; 
    text-align: center;
}

form {  
    margin-left: 43%;
    margin-right:15%;
    width: 17%;
}

input {
    font-family: sans-serif;
    background-color: whitesmoke;
}

p {
    font-size: x-large;
    font-family:sans-serif;
    padding:1.2em 15px;
    border-radius: 6px;
    text-align: left;
    position:sticky;
    width:50%;
    margin:5px auto;
    text-align: center;
    background-color: lightyellow;
}

