.hidden {
  visibility: hidden;
}

.location-cards {
  align-items: center;
  border: solid black;
  padding: 1rem;
  margin: 1rem;
  color: #551A8B;
  background-color: antiquewhite;
  opacity: .75;
}

li {
  list-style: none;
}

.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  align-items: center;
  width: 100%;
  /* To make content 'scroll-able' */
  height: 90vh;
  overflow: auto;
}

.opened_Buttons {
  text-align: center;
  padding-right: 30ch;
  margin-right: -30ch;
}

ul {
  padding: 0;
}
