.movies {
    width: 100%;
    background-color: rgb(210, 233, 233);
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
    box-shadow: 2px 2px 4px darkgrey;
    align-items: center;
    flex-wrap: wrap;
}