

.app {
  text-align: center;
  background-color:rgb(203, 207, 220)

}
.grid{
  display: grid;
  grid-template-areas:
  "n n n n"
  "t t t t"
  "t t t t";
  
}


.hometitle{
  grid-area: t;
  text-align: center;
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: center;
  flex-direction: column;
}



.Nav {
grid-area: n;
text-align: center;
display: flex;
display: inline-block;
margin:1px 0 0 5px;
flex-grow: 1;
height:100px;    
background-color: aquamarine;
}

nav> a  {
  margin: 1rem;  
}

.App-logo{
  height:50px;
  width: 50px;
}

.movs{
  border-style: solid;
  border-color: rgb(9, 9, 9);
  border-width:.5px;
  background-color:rgb(203, 207, 220) ;
}