.people {
    text-align: center;
    /* border: 1px solid grey; */
    margin-top: 20px;
    margin-left: 150px;
    margin-right: 150px;
    background-color: yellowgreen;
    padding-bottom: 30rem;
}

.inp {
    padding: 5px;
}
.btn {
    padding: 5px;
}

.person {
    background-color: azure;
    padding: 2px;
    margin-top: 1rem;
    margin-left: 3rem;
    margin-right: 3rem;
}